openapi: 3.0.3
info:
  title: SYNTHEX API
  description: |
    # SYNTHEX Marketing Automation Platform API
    
    The SYNTHEX API provides programmatic access to all platform features including:
    - User authentication and management
    - Content creation and scheduling
    - Multi-platform publishing
    - Analytics and insights
    - Team collaboration
    
    ## Authentication
    
    The API uses JWT Bearer tokens for authentication. Include the token in the Authorization header:
    ```
    Authorization: Bearer <your-token>
    ```
    
    ## Rate Limiting
    
    API requests are rate limited based on your plan:
    - Free: 100 requests/hour
    - Pro: 1000 requests/hour
    - Enterprise: Unlimited
    
    ## Webhooks
    
    Configure webhooks to receive real-time updates about your content and analytics.
    
  version: 1.0.0
  contact:
    name: SYNTHEX Support
    email: support@synthex.social
    url: https://synthex.social/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://synthex.social/terms

servers:
  - url: https://synthex.social/api/v1
    description: Production server
  - url: https://staging.synthex.social/api/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Development server

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Users
    description: User profile and account management
  - name: Posts
    description: Content creation and management
  - name: Analytics
    description: Analytics and insights
  - name: Teams
    description: Team collaboration features
  - name: Platforms
    description: Social media platform connections
  - name: Webhooks
    description: Webhook configuration

paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register a new user
      description: Create a new user account
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePass123!
                name:
                  type: string
                  example: John Doe
                company:
                  type: string
                  example: Acme Corp
                timezone:
                  type: string
                  example: America/New_York
      responses:
        '201':
          description: User successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login user
      description: Authenticate user and receive tokens
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                rememberMe:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: Exchange refresh token for new access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout user
      description: Invalidate user tokens
      operationId: logoutUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully logged out
        '401':
          $ref: '#/components/responses/Unauthorized'

  /user/profile:
    get:
      tags:
        - Users
      summary: Get user profile
      description: Retrieve current user's profile information
      operationId: getUserProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    put:
      tags:
        - Users
      summary: Update user profile
      description: Update current user's profile information
      operationId: updateUserProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /posts:
    get:
      tags:
        - Posts
      summary: List posts
      description: Retrieve a list of user's posts with pagination
      operationId: listPosts
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [draft, scheduled, published, failed]
        - name: platform
          in: query
          description: Filter by platform
          schema:
            type: string
            enum: [twitter, facebook, instagram, linkedin, youtube, tiktok]
        - name: search
          in: query
          description: Search in title and content
          schema:
            type: string
        - name: sortBy
          in: query
          description: Sort field
          schema:
            type: string
            enum: [createdAt, publishedAt, engagement]
            default: createdAt
        - name: sortOrder
          in: query
          description: Sort order
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: Posts retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Post'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    post:
      tags:
        - Posts
      summary: Create post
      description: Create a new post for scheduling
      operationId: createPost
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCreate'
      responses:
        '201':
          description: Post created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /posts/{postId}:
    get:
      tags:
        - Posts
      summary: Get post
      description: Retrieve a specific post by ID
      operationId: getPost
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          description: Post ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Post retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    
    put:
      tags:
        - Posts
      summary: Update post
      description: Update an existing post
      operationId: updatePost
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          description: Post ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUpdate'
      responses:
        '200':
          description: Post updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    
    delete:
      tags:
        - Posts
      summary: Delete post
      description: Delete a post
      operationId: deletePost
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          description: Post ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Post deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /posts/{postId}/publish:
    post:
      tags:
        - Posts
      summary: Publish post
      description: Immediately publish a post to selected platforms
      operationId: publishPost
      security:
        - bearerAuth: []
      parameters:
        - name: postId
          in: path
          required: true
          description: Post ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Post published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /analytics/overview:
    get:
      tags:
        - Analytics
      summary: Get analytics overview
      description: Retrieve analytics overview for specified time range
      operationId: getAnalyticsOverview
      security:
        - bearerAuth: []
      parameters:
        - name: range
          in: query
          description: Time range
          schema:
            type: string
            enum: [day, week, month, quarter, year, custom]
            default: week
        - name: startDate
          in: query
          description: Start date for custom range
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: End date for custom range
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Analytics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsOverview'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /analytics/platforms/{platform}:
    get:
      tags:
        - Analytics
      summary: Get platform analytics
      description: Retrieve analytics for a specific platform
      operationId: getPlatformAnalytics
      security:
        - bearerAuth: []
      parameters:
        - name: platform
          in: path
          required: true
          description: Platform name
          schema:
            type: string
            enum: [twitter, facebook, instagram, linkedin, youtube, tiktok]
        - name: range
          in: query
          description: Time range
          schema:
            type: string
            enum: [day, week, month]
            default: week
      responses:
        '200':
          description: Platform analytics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformAnalytics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /teams:
    get:
      tags:
        - Teams
      summary: List teams
      description: List all teams the user belongs to
      operationId: listTeams
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Teams retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    post:
      tags:
        - Teams
      summary: Create team
      description: Create a new team
      operationId: createTeam
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamCreate'
      responses:
        '201':
          description: Team created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /webhooks:
    get:
      tags:
        - Webhooks
      summary: List webhooks
      description: List all configured webhooks
      operationId: listWebhooks
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Webhooks retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    post:
      tags:
        - Webhooks
      summary: Create webhook
      description: Configure a new webhook
      operationId: createWebhook
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        company:
          type: string
        avatar:
          type: string
          format: uri
        timezone:
          type: string
        language:
          type: string
        plan:
          type: string
          enum: [free, pro, enterprise]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UserUpdate:
      type: object
      properties:
        name:
          type: string
        company:
          type: string
        timezone:
          type: string
        language:
          type: string
        avatar:
          type: string
          format: uri

    Post:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        content:
          type: string
        platforms:
          type: array
          items:
            type: string
            enum: [twitter, facebook, instagram, linkedin, youtube, tiktok]
        media:
          type: array
          items:
            $ref: '#/components/schemas/Media'
        status:
          type: string
          enum: [draft, scheduled, published, failed]
        scheduledAt:
          type: string
          format: date-time
        publishedAt:
          type: string
          format: date-time
        analytics:
          $ref: '#/components/schemas/PostAnalytics'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PostCreate:
      type: object
      required:
        - title
        - content
        - platforms
      properties:
        title:
          type: string
          maxLength: 200
        content:
          type: string
          maxLength: 5000
        platforms:
          type: array
          items:
            type: string
            enum: [twitter, facebook, instagram, linkedin, youtube, tiktok]
          minItems: 1
        media:
          type: array
          items:
            type: string
            format: uri
        scheduledAt:
          type: string
          format: date-time
        hashtags:
          type: array
          items:
            type: string

    PostUpdate:
      type: object
      properties:
        title:
          type: string
          maxLength: 200
        content:
          type: string
          maxLength: 5000
        platforms:
          type: array
          items:
            type: string
        scheduledAt:
          type: string
          format: date-time

    Media:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        type:
          type: string
          enum: [image, video, gif]
        thumbnail:
          type: string
          format: uri
        size:
          type: integer
        dimensions:
          type: object
          properties:
            width:
              type: integer
            height:
              type: integer

    PostAnalytics:
      type: object
      properties:
        reach:
          type: integer
        impressions:
          type: integer
        engagement:
          type: integer
        clicks:
          type: integer
        shares:
          type: integer
        comments:
          type: integer
        likes:
          type: integer

    AnalyticsOverview:
      type: object
      properties:
        range:
          type: string
        totalReach:
          type: integer
        totalEngagement:
          type: integer
        totalPosts:
          type: integer
        clickRate:
          type: number
          format: float
        engagementRate:
          type: number
          format: float
        topPosts:
          type: array
          items:
            $ref: '#/components/schemas/Post'
        platformBreakdown:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/PlatformAnalytics'

    PlatformAnalytics:
      type: object
      properties:
        platform:
          type: string
        followers:
          type: integer
        followersChange:
          type: integer
        posts:
          type: integer
        reach:
          type: integer
        impressions:
          type: integer
        engagement:
          type: integer
        avgEngagementRate:
          type: number
          format: float

    Team:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        members:
          type: array
          items:
            $ref: '#/components/schemas/TeamMember'
        owner:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time

    TeamCreate:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500

    TeamMember:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [owner, admin, member, viewer]
        joinedAt:
          type: string
          format: date-time

    Webhook:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum: [post.created, post.published, post.failed, analytics.updated]
        active:
          type: boolean
        secret:
          type: string
        createdAt:
          type: string
          format: date-time

    WebhookCreate:
      type: object
      required:
        - url
        - events
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
          minItems: 1
        secret:
          type: string

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            token:
              type: string
            refreshToken:
              type: string
            expiresIn:
              type: integer
            user:
              $ref: '#/components/schemas/User'

    TokenResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            token:
              type: string
            expiresIn:
              type: integer

    PublishResult:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            published:
              type: array
              items:
                type: object
                properties:
                  platform:
                    type: string
                  postId:
                    type: string
                  url:
                    type: string
                    format: uri
            failed:
              type: array
              items:
                type: object
                properties:
                  platform:
                    type: string
                  error:
                    type: string

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
        hasNext:
          type: boolean
        hasPrev:
          type: boolean

    Error:
      type: object
      properties:
        success:
          type: boolean
          default: false
        error:
          type: string
        message:
          type: string
        code:
          type: string
        details:
          type: object

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    TooManyRequests:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying
          schema:
            type: integer

security:
  - bearerAuth: []